<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="//unpkg.com/layui@2.9.1/dist/css/layui.css" rel="stylesheet">
    <style>
        .top-level {
            margin-top: 20px;
        }

        .sub-level {
            margin-left: 20px;
        }
    </style>
</head>
<body>
<div class="pear-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form" style="margin: 20px;">
                <div class="layui-form-item sub-level" id="action-dropdown-section">
                    <label class="layui-form-label">Action</label>
                    <div class="layui-input-inline">
                        <select name="Action" id="action-dropdown" lay-filter="action-dropdown">
                            <option value="">执行动作</option>
                            <option value="0">程序错误</option>
                            <option value="1">丢弃</option>
                            <option value="2">通过</option>
                            <option value="3">返回</option>
                            <option value="4">重定向</option>
                        </select>
                    </div>
                </div>

                <!-- IPEnabled 开关 -->
                <div class="layui-form-item top-level">
                    <label class="layui-form-label">IP Enabled</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="IPEnabled" id="ip-enabled-switch" lay-filter="ip-enabled-switch" lay-skin="switch">
                    </div>
                </div>
                <!-- IP Source 开关 -->
                <div class="layui-form-item sub-level" id="src-ip-section">
                    <label class="layui-form-label">源 IP 地址</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="SrcIpEnabled" id="source-ip-switch" lay-filter="source-ip-switch" lay-skin="switch">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="SrcIP" id="source-ip-input" placeholder="请输入源 IP 地址" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <!-- IP Dest 开关 -->
                <div class="layui-form-item sub-level" id="dst-ip-section">
                    <label class="layui-form-label">目的 IP 地址</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="DstIpEnabled" id="destination-ip-switch" lay-filter="destination-ip-switch" lay-skin="switch">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="DstIP" id="destination-ip-input" placeholder="请输入目的 IP 地址" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>

                <!-- IPv6 Source 开关-->
                <div class="layui-form-item sub-level" id="src-ipv6-section">
                    <label class="layui-form-label">源 IPV6 地址</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="SrcIP6Enabled" id="source-ipv6-switch" lay-filter="source-ipv6-switch" lay-skin="switch">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="SrcIP6" id="source-ipv6-input" placeholder="请输入源 IPV6 地址" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>


                <!-- IPv6 Dest 开关-->
                <div class="layui-form-item sub-level" id="dst-ipv6-section">
                    <label class="layui-form-label">目的 IPV6 地址</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="DstIP6Enabled" id="destination-ipv6-switch" lay-filter="destination-ipv6-switch" lay-skin="switch">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="DstIP6" id="destination-ipv6-input" placeholder="请输入目的 IPV6 地址" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>

                <div class="layui-form-item sub-level" id="minttl-section">
                    <label class="layui-form-label">最小TTL</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="MinTTLEnabled" id="minttl-switch" lay-filter="minttl-switch" lay-skin="switch">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="MinTTL" id="minttl-input" placeholder="请输入最小的TTL" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item sub-level" id="maxttl-section">
                    <label class="layui-form-label">最大TTL</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="MaxTTLEnabled" id="maxttl-switch" lay-filter="maxttl-switch" lay-skin="switch">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="MaxTTL" id="maxttl-input" placeholder="请输入最大的TTL" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item sub-level" id="maxlen-section">
                    <label class="layui-form-label">最大长度</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="MaxLenEnabled" id="maxlen-switch" lay-filter="maxlen-switch" lay-skin="switch">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="MaxLen" id="maxlen-input" placeholder="请输入最大长度" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item sub-level" id="minlen-section">
                    <label class="layui-form-label">最小长度</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="MinLenEnabled" id="minlen-switch" lay-filter="minlen-switch" lay-skin="switch">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="MinLen" id="minlen-input" placeholder="请输入最小长度" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item sub-level" id="tos-section">
                    <label class="layui-form-label">TOS</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="TOSEnabled" id="tos-switch" lay-filter="tos-switch" lay-skin="switch">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="TOS" id="tos-input" placeholder="请输入TOS" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <hr class="layui-border-green">
                <!-- TCPEnabled 开关-->
                <div class="layui-form-item top-level" >
                    <label class="layui-form-label">TCP Enabled</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="TCPEnabled" id="tcp-enabled-switch" lay-filter="tcp-enabled-switch" lay-skin="switch">
                    </div>
                </div>

                    <!-- TCP Sport -->
                    <div class="layui-form-item sub-level" id="tcp-sport-section">
                        <label class="layui-form-label">TCP Source Port</label>
                        <div class="layui-input-inline">
                            <input type="checkbox" name="TCPSportEnabled" id="tcp-sport-switch" lay-filter="tcp-sport-switch" lay-skin="switch">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="TCPSport" id="tcp-sport-input" placeholder="请输入TCP源端口" autocomplete="off" class="layui-input" disabled>
                        </div>
                    </div>
                        <div class="layui-form-item sub-level" id="tcp-dport-section">
                            <label class="layui-form-label">TCP Destination Port</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="TCPDportEnabled" id="tcp-dport-switch" lay-filter="tcp-dport-switch" lay-skin="switch">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="TCPDport" id="tcp-dport-input" placeholder="请输入TCP目的端口" autocomplete="off" class="layui-input" disabled>
                            </div>
                        </div>
                        <!-- TCPURG -->
                        <div class="layui-form-item sub-level" id="tcp-urg-section">
                            <label class="layui-form-label">TCP URG</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="TCPURG"  id="tcp-urg-switch" lay-filter="tcp-urg-switch" lay-skin="switch">
                            </div>
                        </div>

                        <!-- TCPACK -->
                        <div class="layui-form-item sub-level" id="tcp-ack-section">
                            <label class="layui-form-label">TCP ACK</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="TCPACK" id="tcp-ack-switch" lay-filter="tcp-ack-switch" lay-skin="switch">
                            </div>
                        </div>

                        <!-- TCPRST -->
                        <div class="layui-form-item sub-level" id="tcp-rst-section">
                            <label class="layui-form-label">TCP RST</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="TCPRST" id="tcp-rst-switch" lay-filter="tcp-rst-switch" lay-skin="switch">
                            </div>
                        </div>

                        <!-- TCPPSH -->
                        <div class="layui-form-item sub-level" id="tcp-psh-section">
                            <label class="layui-form-label">TCP PSH</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="TCPPSH" id="tcp-psh-switch" lay-filter="tcp-psh-switch" lay-skin="switch">
                            </div>
                        </div>

                        <!-- TCPSYN -->
                        <div class="layui-form-item sub-level" id="tcp-syn-section">
                            <label class="layui-form-label">TCP SYN</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="TCPSYN" id="tcp-syn-switch" lay-filter="tcp-syn-switch" lay-skin="switch">
                            </div>
                        </div>

                        <!-- TCPFIN -->
                        <div class="layui-form-item sub-level" id="tcp-fin-section">
                            <label class="layui-form-label">TCP FIN</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="TCPFIN" id="tcp-fin-switch" lay-filter="tcp-fin-switch" lay-skin="switch">
                            </div>
                        </div>

                        <!-- TCPECE -->
                        <div class="layui-form-item sub-level" id="tcp-ece-section">
                            <label class="layui-form-label">TCP ECE</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="TCPECE" id="tcp-ece-switch" lay-filter="tcp-ece-switch" lay-skin="switch">
                            </div>
                        </div>

                        <!-- TCPCWR -->
                        <div class="layui-form-item sub-level" id="tcp-cwr-section">
                            <label class="layui-form-label">TCP CWR</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="TCPCWR" id="tcp-cwr-switch" lay-filter="tcp-cwr-switch" lay-skin="switch">
                            </div>
                        </div>
                <hr class="layui-border-green">
                        <!-- UDPEnabled 开关 -->
                <div class="layui-form-item top-level">
                    <label class="layui-form-label">UDP Enabled</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="UDPEnabled" id="udp-enabled-switch" lay-filter="udp-enabled-switch" lay-skin="switch">
                    </div>
                </div>
                            <!-- UDP Sport -->
                            <div class="layui-form-item sub-level" id="udp-sport-section">
                                <label class="layui-form-label">UDP Sport</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="UDPSportEnabled" id="udp-sport-switch" lay-filter="udp-sport-switch" lay-skin="switch">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" name="UDPSport" id="udp-sport-input" placeholder="请输入UDP源端口" autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>

                            <!-- UDP Dport -->
                            <div class="layui-form-item sub-level" id="udp-dport-section">
                                <label class="layui-form-label">UDP Dport</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="UDPDportEnabled" id="udp-dport-switch" lay-filter="udp-dport-switch" lay-skin="switch">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" name="UDPDport" id="udp-dport-input" placeholder="请输入UDP目的端口" autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                <hr class="layui-border-green">
                            <!-- ICMPEnabled 开关 -->
                            <div class="layui-form-item top-level">
                                <label class="layui-form-label">ICMP Enabled</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="ICMPEnabled" id="icmp-enabled-switch" lay-filter="icmp-enabled-switch" lay-skin="switch">
                                </div>
                            </div>
                                <!-- ICMP Code -->
<!--                                <div class="layui-form-item sub-level" id="icmp-code-section">-->
<!--                                    <label class="layui-form-label">ICMP Code</label>-->
<!--                                    <div class="layui-input-inline">-->
<!--                                        <input type="checkbox" name="ICMPCodeEnabled" id="icmp-code-switch" lay-filter="icmp-code-switch" lay-skin="switch">-->
<!--                                    </div>-->
<!--                                    <div class="layui-input-inline">-->
<!--                                        <input type="text" name="ICMPCode" id="icmp-code-input" placeholder="请输入ICMP Code" autocomplete="off" class="layui-input" disabled>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; ICMP Type &ndash;&gt;-->
<!--                                <div class="layui-form-item sub-level" id="icmp-type-section">-->
<!--                                    <label class="layui-form-label">ICMP Type</label>-->
<!--                                    <div class="layui-input-inline">-->
<!--                                        <input type="checkbox" name="ICMPTypeEnabled" id="icmp-type-switch" lay-filter="icmp-type-switch" lay-skin="switch">-->
<!--                                    </div>-->
<!--                                    <div class="layui-input-inline">-->
<!--                                        <input type="text" name="ICMPType" id="icmp-type-input" placeholder="请输入ICMP Type" autocomplete="off" class="layui-input" disabled>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="layui-form-item sub-level" id="icmp-dropdown-section">
                                    <label class="layui-form-label">ICMP Type and Code</label>
                                    <div class="layui-input-inline">
                                        <select name="ICMPTypeCode" id="icmp-type-code-dropdown" lay-filter="icmp-type-code-dropdown">
                                            <option value="">Select Type and Code</option>
                                            <option value="0_0">回显应答（Ping应答）</option>
                                            <option value="3_0">网络不可达</option>
                                            <option value="3_1">主机不可达</option>
                                            <option value="3_2">协议不可达</option>
                                            <option value="3_3">端口不可达</option>
                                            <option value="3_4">需要进行分片但设置不分片比特</option>
                                            <option value="3_5">源站选路失败</option>
                                            <option value="3_6">目的网络未知</option>
                                            <option value="3_7">目的主机未知</option>
                                            <option value="3_9">目的网络被强制禁止</option>
                                            <option value="3_10">目的主机被强制禁止</option>
                                            <option value="3_11">由于服务类型TOS，网络不可达</option>
                                            <option value="3_12">由于服务类型TOS，主机不可达</option>
                                            <option value="3_13">由于过滤，通信被强制禁止</option>
                                            <option value="3_14">主机越权</option>
                                            <option value="3_15">优先中止生效</option>
                                            <option value="4_0">源端被关闭（基本流控制）</option>
                                            <option value="5_0">对网络重定向</option>
                                            <option value="5_1">对主机重定向</option>
                                            <option value="5_2">对服务类型和网络重定向</option>
                                            <option value="5_3">对服务类型和主机重定向</option>
                                            <option value="8_0">回显请求（Ping请求）</option>
                                            <option value="9_0">路由器通告</option>
                                            <option value="10_0">路由器请求</option>
                                            <option value="11_0">传输期间生存时间为0</option>
                                            <option value="11_1">在数据报组装期间生存时间为0</option>
                                            <option value="12_0">坏的IP首部（包括各种差错）</option>
                                            <option value="12_1">缺少必需的选项</option>
                                            <option value="17_0">地址掩码请求</option>
                                            <option value="18_0">地址掩码应答</option>


                                            <!-- Add other options as needed -->
                                        </select>
                                    </div>
                                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="form-submit">提交</button>
                    </div>
                </div>
                    </div>
            </div>


<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="//unpkg.com/layui@2.9.1/dist/layui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>

    layui.use(['form', 'laydate', 'util'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var util = layui.util;

        // 监听 IPEnabled 开关的变化
        form.on('switch(ip-enabled-switch)', function(data) {
            toggleIpInputs(data.elem.checked);
        });

        // 切换 SrcIP 和 DstIP等 输入框的显示与隐藏
        function toggleIpInputs(isEnabled) {
            var sections = ['#src-ip-section', '#dst-ip-section', '#src-ipv6-section', '#dst-ipv6-section','#minttl-section','#maxttl-section','#maxlen-section','#minlen-section','#tos-section'];
            sections.forEach(function(section) {
                $(section).toggle(isEnabled);
            });
        }

        // 监听TCP Enabled开关
        form.on('switch(tcp-enabled-switch)', function(data) {
            toggleTCPInputs(data.elem.checked);
        });

        function toggleTCPInputs(isEnabled) {
            var sections = ['#tcp-dport-section','#tcp-sport-section','#tcp-fin-section','#tcp-urg-section','#tcp-ack-section','#tcp-rst-section','#tcp-psh-section','#tcp-syn-section','#tcp-ece-section','#tcp-cwr-section',];
            sections.forEach(function(section) {
                $(section).toggle(isEnabled);
            });
        }

        form.on('switch(udp-enabled-switch)', function(data) {
            toggleUDPInputs(data.elem.checked);
        });

        // 监听UDP Enabled开关
        function toggleUDPInputs(isEnabled) {
            var sections = ['#udp-sport-section','#udp-dport-section'];
            sections.forEach(function(section) {
                $(section).toggle(isEnabled);
            });
            if (!isEnabled) {
                $('#udp-enabled-switch').prop('checked', false);
            }
        }

        // 监听ICMP Enabled开关
        form.on('switch(icmp-enabled-switch)', function(data) {
            toggleICMPInputs(data.elem.checked);
        });

        function toggleICMPInputs(isEnabled) {
            var sections = ['#icmp-dropdown-section'];
            sections.forEach(function(section) {
                $(section).toggle(isEnabled);
            });
            if (!isEnabled) {
                $('#icmp-enabled-switch').prop('checked', false);
            }
        }
        // 监听源 IP 地址开关
        // form.on('switch(source-ip-switch)', function(data){
        //     document.getElementById('source-ip-input').disabled = !data.elem.checked;
        // });
        //
        // // 监听目的 IP 地址开关
        // form.on('switch(destination-ip-switch)', function(data){
        //     document.getElementById('destination-ip-input').disabled = !data.elem.checked;
        // });
        //
        // form.on('switch(source-ipv6-switch)', function(data){
        //     document.getElementById('source-ipv6-input').disabled = !data.elem.checked;
        // });
        //
        // form.on('switch(destination-ipv6-switch)', function(data){
        //     document.getElementById('destination-ipv6-input').disabled = !data.elem.checked;
        // });
        function handleSwitchChange(switchSelector, inputSelector) {
            form.on('switch(' + switchSelector + ')', function(data) {
                $(inputSelector).prop('disabled', !data.elem.checked);
            });
        }
        // 帮助函数：设置输入框和开关
        function setInputAndSwitch(inputId, switchId, value) {
            var input = $('#' + inputId);
            var switchElem = $('#' + switchId);
            if (value) {
                input.val(value).prop('disabled', false);
                switchElem.prop('checked', true);
            } else {
                input.val('').prop('disabled', true);
                switchElem.prop('checked', false);
            }
        }

// 初始化开关监听
        handleSwitchChange('source-ip-switch', '#source-ip-input');
        handleSwitchChange('destination-ip-switch', '#destination-ip-input');
        handleSwitchChange('source-ipv6-switch', '#source-ipv6-input');
        handleSwitchChange('destination-ipv6-switch', '#destination-ipv6-input');
        handleSwitchChange('minttl-switch', '#minttl-input');
        handleSwitchChange('maxttl-switch', '#maxttl-input');
        handleSwitchChange('maxlen-switch', '#maxlen-input');
        handleSwitchChange('minlen-switch', '#minlen-input');
        handleSwitchChange('tos-switch', '#tos-input');
        handleSwitchChange('tcp-sport-switch', '#tcp-sport-input');
        handleSwitchChange('tcp-dport-switch', '#tcp-dport-input');
        handleSwitchChange('tcp-fin-switch', '#tcp-fin-input');
        handleSwitchChange('tcp-urg-switch', '#tcp-urg-input');
        handleSwitchChange('tcp-ack-switch', '#tcp-ack-input');
        handleSwitchChange('tcp-rst-switch', '#tcp-rst-input');
        handleSwitchChange('tcp-psh-switch', '#tcp-psh-input');
        handleSwitchChange('tcp-syn-switch', '#tcp-syn-input');
        handleSwitchChange('tcp-ece-switch', '#tcp-ece-input');
        handleSwitchChange('tcp-cwr-switch', '#tcp-cwr-input');
        handleSwitchChange('udp-sport-switch','#udp-sport-input');
        handleSwitchChange('udp-dport-switch','#udp-dport-input');
        handleSwitchChange('icmp-code-switch', '#icmp-code-input');
        handleSwitchChange('icmp-type-switch', '#icmp-type-input');



        function getQueryString(name) {
            const url_string = window.location.href; // window.location.href
            const url = new URL(url_string);
            return url.searchParams.get(name);
        }
        const id = getQueryString('id');
        $.ajax({
            url:'/get_rule?id='+id,
            type: "get",
            success:function(data){
                var ipEnabled = data.data.IPEnabled === 1;
                $('#ip-enabled-switch').prop('checked', ipEnabled);
                toggleIpInputs(ipEnabled);

                var tcpEnabled = data.data.TCPEnabled === 1;
                $('#tcp-enabled-switch').prop('checked', tcpEnabled);
                toggleTCPInputs(tcpEnabled);

                var udpEnabled = data.data.UDPEnabled === 1;
                $('#udp-enabled-switch').prop('checked', udpEnabled);
                toggleUDPInputs(udpEnabled);

                var icmpEnabled = data.data.ICMPEnabled === 1;
                $('#icmp-enabled-switch').prop('checked', icmpEnabled);
                toggleICMPInputs(icmpEnabled);

                // 设置输入框和开关
                setInputAndSwitch('source-ip-input', 'source-ip-switch', data.data.SrcIP);
                setInputAndSwitch('destination-ip-input', 'destination-ip-switch', data.data.DstIP);
                setInputAndSwitch('source-ipv6-input', 'source-ipv6-switch', data.data.SrcIP6);
                setInputAndSwitch('destination-ipv6-input', 'destination-ipv6-switch', data.data.DstIP6);
                setInputAndSwitch('minttl-input', 'minttl-switch', data.data.MinTTL);
                setInputAndSwitch('maxttl-input', 'maxttl-switch', data.data.MaxTTL);
                setInputAndSwitch('maxlen-input', 'maxlen-switch', data.data.MaxLen);
                setInputAndSwitch('minlen-input', 'minlen-switch', data.data.MinLen);
                setInputAndSwitch('tos-input', 'tos-switch', data.data.TOS);
                setInputAndSwitch('tcp-sport-input', 'tcp-sport-switch', data.data.TCPSPORT);
                setInputAndSwitch('tcp-dport-input', 'tcp-dport-switch', data.data.TCPDPORT);
                setInputAndSwitch('udp-sport-input', 'udp-sport-switch', data.data.UDPSPORT);
                setInputAndSwitch('udp-dport-input', 'udp-dport-switch', data.data.UDPDPORT);
                // setInputAndSwitch('icmp-code-input', 'icmp-code-switch', data.data.ICMPCODE);
                // setInputAndSwitch('icmp-type-input', 'icmp-type-switch', data.data.ICMPTYPE);
                var typeCode = data.data.ICMPType+'_'+data.data.ICMPCode;
                $('#icmp-type-code-dropdown').val(typeCode);

                
                $('#action-dropdown').val(data.data.Action);
                
                if(data.data.TCPURG){
                    $("#tcp-urg-switch").prop('checked', true);
                }
                if(data.data.TCPACK){
                    $("#tcp-ack-switch").prop('checked', true);
                }
                if(data.data.TCPPSH){
                    $("#tcp-psh-switch").prop('checked', true);
                }
                if(data.data.TCPFIN){
                    $("#tcp-fin-switch").prop('checked', true);
                }
                if(data.data.TCPCWR){
                    $("#tcp-cwr-switch").prop('checked', true);
                }
                if(data.data.TCPRST){
                    $("#tcp-rst-switch").prop('checked', true);
                }
                if(data.data.TCPECE){
                    $("#tcp-ece-switch").prop('checked', true);
                }
                if(data.data.TCPSYN){
                    $("#tcp-syn-switch").prop('checked', true);
                }
                



                form.render('select');
                form.render('checkbox');
            }
        });
        form.on('submit(form-submit)', function(data){
            var formData = data.field;
            formData.IPEnabled = formData.IPEnabled ? 1 : 0;
            formData.TCPEnabled = formData.TCPEnabled ? 1 : 0;
            formData.UDPEnabled = formData.UDPEnabled ? 1 : 0;
            formData.ICMPEnabled = formData.ICMPEnabled ? 1 : 0;
            formData.Id = id;
            // Handle the form submission here
            console.log(formData); // You can access the form data using data.field
            $.ajax({
                url : '/update_rules',
                type : 'post',
                dataType : 'json',
                contentType :"application/json",
                data : JSON.stringify(data.field),
                success : function (data) {
                    console.log("success")
                    if(data.code===0){
                        layer.msg("更新成功")
                    }else layer.msg("更新失败")
                }

            })

            return false; // Prevent the form from actually submitting
        });
    });
</script>
        </div>
    </div>

</body>
</html>
